@charset "utf-8";
/* CSS Document */

.nen
{
	width: 100%;
	height: auto;
	background-color:#121212;
}

.thanhbar
{
	width: 100%;
	height: 70px;
	background-color: #121212;
	position: fixed;
	
}
.logo
{
	width: 23%;
	height: 70px;
	float: left;
	color: #FFFCFC;
	font-size: 22pt;
	padding: 1% 60px;
	box-sizing: border-box;
	
}



.menu
{
	width: 3%;
	height: 70px;
	float: left;
	padding: 10px;
	box-sizing: border-box;
	color:#FFFCFC;
}

.searching
{
	width: 550px;
	height: 45px;
	float: left;
	margin: 11px;
	
}

.searching input
{
	width: 450px;
	height: 35px;
	border-radius: 45px;
	border: none;
	position: absolute;
}

.searching button
{
	width: 30px;
	height: 30px;
	position: relative;
	margin: 3px 413px;
	border: none;
	background: none;
	font-size: 15px;
}

.fa-search
{
	color: #121212;
	text-decoration: none;
}
.login
{
	width: 400px;
	height: 100px;
	padding: 30px;
	box-sizing: border-box;
}
.loginlogo
{
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 15px 0 0;
	box-sizing: border-box;
}
.logintext
{
	width: 250px;
	height: 30px;
	margin: 8px 0;
	box-sizing: border-box;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

body
{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	margin: 0;
	padding: 0;
	
}

.banner
{
	width: 100%;
	height: 591px;
}
.content
{
	width: 100%;
	height: 620px;
	font-size:25pt;
	color: aliceblue;
}
.text1
{
	width: 700px;
	height: 80px;
	margin: 5px 8%;
	box-sizing: border-box;
	float: left;
}
.text2
{
	width: 180px;
	height: 50px;
	margin: 5px 8% 0 0 ;
	box-sizing: border-box;
	float: right;
	color: aliceblue;
	font-size: 27px;
}

.mph
{
	width: 100%;
	height: 500px;
	display: flex;
	justify-content: center;	
}
.mph1
{
	width: 380px;
	height: 520px;
	background-color:#313131;
	float: left;
	margin: 0 20px;
	font-size: 26px;
	box-sizing: border-box;
	border-radius: 15px;
}
.day
{
	width: 120px;
	height: 30px;
	float: right;
	margin: 5px 0;
}
.day1
{
	width: 120px;
	height: 30px;
	float: right;
}
.mph1 img
{
	border-radius: 10px;
}

.mph1 img:hover
{
	opacity: 50%;
}

.content2
{
	width: 100%;
	height: 620px;
	font-size:25pt;
	color: aliceblue;
}

.bxh
{
	width: 100%;
	height: 530px;
	display: flex;
	justify-content: center;	
}
.bxh1
{
	width: 380px;
	height: 515px;
	background-color:#313131;
	float: left;
	margin: 0 20px;
	font-size: 26px;
	box-sizing: border-box;
	border-radius: 15px;
}

.bxh1 img
{
	border-radius: 10px;
}

.bxh1 img:hover
{
	opacity: 50%;
}

.footer
{
	width: 100%;
	height: 300px;
	color: aliceblue;
}

.brand
{
	width: 100%;
	height: 150px;
}